(schema_version: 1, entries: [
    Property(key: "game_object_locator", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("capitol_hill_locator")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "instances", operator: Assign, value: Block([
            Item(Block([
                Property(key: "id", operator: Assign, value: Number("1")),
                Property(key: "position", operator: Assign, value: Block([
                    Item(Number("2347.699951")),
                    Item(Number("0.000000")),
                    Item(Number("2437.300049")),
                ])),
                Property(key: "rotation", operator: Assign, value: Block([
                    Item(Number("-0.000000")),
                    Item(Number("0.244584")),
                    Item(Number("-0.000000")),
                    Item(Number("-0.303938")),
                ])),
                Property(key: "scale", operator: Assign, value: Block([
                    Item(Number("2.000000")),
                    Item(Number("2.000000")),
                    Item(Number("2.000000")),
                ])),
            ])),
        ])),
    ])),
    Property(key: "game_object_locator", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("central_park_locator")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "instances", operator: Assign, value: Block([
            Item(Block([
                Property(key: "id", operator: Assign, value: Number("1")),
                Property(key: "position", operator: Assign, value: Block([
                    Item(Number("2416.597412")),
                    Item(Number("0.000000")),
                    Item(Number("2493.613525")),
                ])),
                Property(key: "rotation", operator: Assign, value: Block([
                    Item(Number("-0.000000")),
                    Item(Number("0.212865")),
                    Item(Number("-0.000000")),
                    Item(Number("0.977082")),
                ])),
                Property(key: "scale", operator: Assign, value: Block([
                    Item(Number("2.000000")),
                    Item(Number("2.000000")),
                    Item(Number("2.000000")),
                ])),
            ])),
        ])),
    ])),
])
