(schema_version: 1, entries: [
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("cities")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("day_dynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("day_effects")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("environmental_effects")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("farms_dynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("forestry_dynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("fortifications")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("locators")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("massive_environment")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("mines_dynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("mockup")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("night_dynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("night_effects")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("nondynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("objects architectural")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("papermap_layer")),
        Property(key: "fade_in", operator: Assign, value: Number("10")),
        Property(key: "fade_out", operator: Assign, value: Number("20")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("ports")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_armed_forces")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_devout")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_industrialists")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_intelligentsia")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_landowners")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_petty_bourgeoisie")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_rural_folk")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("revolution_dynamic_trade_unions")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("6")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("semidynamic")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("low|medium|high")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("semidynamic_high")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("high")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("semidynamic_medium")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("medium|high")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("static")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
    Property(key: "layer", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("temp_layer")),
        Property(key: "fade_in", operator: Assign, value: Number("0")),
        Property(key: "fade_out", operator: Assign, value: Number("10")),
        Property(key: "category", operator: Assign, value: Text("")),
        Property(key: "masks", operator: Assign, value: Text("")),
        Property(key: "visibility_tags", operator: Assign, value: Text("")),
    ])),
])
