(schema_version: 1, entries: [
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("african_lighthouse_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "entity", operator: Assign, value: Text("african_lighthouse_01_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/african_lighthouse_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("arabic_lighthouse_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "entity", operator: Assign, value: Text("arabic_lighthouse_01_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/arabic_lighthouse_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("asian_lighthouse_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "entity", operator: Assign, value: Text("asian_lighthouse_01_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/asian_lighthouse_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("bird_duck_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("duck_01_frame_entity")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("bird_eagle_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("eagle_01_frame_entity")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("bird_vulture_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("vulture_01_frame_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/bird_vulture_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_01_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_02")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_02_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_02.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_03")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_03_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_03.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_04")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_04_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_04.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_05")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_05_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_05.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_06")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_06_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_06.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_07")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_07_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_07.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_08")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_08_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_08.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_09")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_09_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_09.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_10")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_10_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_10.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_11")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_11_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_11.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_12")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_12_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_12.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_13")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_13_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_13.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_14")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_14_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_14.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_15")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_15_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_15.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("canyon_16")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("cliff_canyon_16_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/canyon_16.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("european_lighthouse_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "entity", operator: Assign, value: Text("european_lighthouse_01_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/european_lighthouse_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("latin_lighthouse_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("static")),
        Property(key: "entity", operator: Assign, value: Text("latin_lighthouse_01_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/latin_lighthouse_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_granite_03")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_06_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_granite_03.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_granite_04")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_07_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_granite_04.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_granite_05")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_08_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_granite_05.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_granite_06")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_09_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_granite_06.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_sandstone_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_sandstone_01_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_sandstone_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_sandstone_03")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_sandstone_03_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_sandstone_03.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rockformation_sandstone_06")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(false)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("massive_environment")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rockformation_sandstone_06_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rockformation_sandstone_06.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("rubber_lodge_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("farms_dynamic")),
        Property(key: "pdxmesh", operator: Assign, value: Text("rubber_lodge_01_mesh")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/rubber_lodge_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("seagull_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("seagull_port_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/seagull_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("smoke_chimney_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(false)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("smoke_chimney_01")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/smoke_chimney_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("whale_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("whale_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/whale_01.bin")),
    ])),
    Property(key: "object", operator: Assign, value: Block([
        Property(key: "name", operator: Assign, value: Text("whale_white_01")),
        Property(key: "clamp_to_water_level", operator: Assign, value: Boolean(true)),
        Property(key: "render_under_water", operator: Assign, value: Boolean(true)),
        Property(key: "generated_content", operator: Assign, value: Boolean(false)),
        Property(key: "layer", operator: Assign, value: Text("environmental_effects")),
        Property(key: "entity", operator: Assign, value: Text("whale_white_entity")),
        Property(key: "transform_bin_file", operator: Assign, value: Text("gfx/map/map_object_data/whale_white_01.bin")),
    ])),
])
