// Source line 1:  the furthest zoom out
// Source line 2:  zoom step where the paper map kicks in
// Source line 3:  introduce some colour
// Source line 4:  close zoom
// Source line 5:  absolutely closest zoom
// Source line 6:  absolutely closest zoom
// Source line 8:  Color brightness
// Source line 10:  The default map mode, filled paper map, terrain + gradient borders zoomed in
// Source line 90:  States view gradient
// Source line 170:  Heat maps, show "spread" etc, uses the alpha from the actual color to indicate strength of "spread"
// Source line 171:  Tweak the values in here to tweak the look of this map mode.
// Source line 191:  Interactive map modes where you click on the Map
// Source line 226:  Standard mapmodes
// Source line 244:  Standard mapmodes
(schema_version: 1, entries: [
    Property(key: "@zoom_step_flatmap_far", operator: Assign, value: Number("17")),
    Property(key: "@zoom_step_flatmap", operator: Assign, value: Number("10")),
    Property(key: "@zoom_step_mid", operator: Assign, value: Number("9")),
    Property(key: "@zoom_step_near", operator: Assign, value: Number("6")),
    Property(key: "@zoom_step_ultra_near", operator: Assign, value: Number("5")),
    Property(key: "@zoom_step_2", operator: Assign, value: Number("2")),
    Property(key: "@color_multi", operator: Assign, value: Number("0.5")),
    Property(key: "default", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Symbol("@zoom_step_flatmap")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_ultra_near")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "edge_width", operator: Assign, value: Number("0")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.05")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0")),
            Property(key: "edge_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("0")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_near")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.05")),
            Property(key: "gradient_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "edge_width", operator: Assign, value: Number("0.01")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.04")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0.8")),
            Property(key: "edge_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("0")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_mid")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.05")),
            Property(key: "gradient_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "edge_width", operator: Assign, value: Number("0.025")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.01")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1.0")),
            Property(key: "edge_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("0")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.8")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.5")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.005")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap_far")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.8")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.5")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.06")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.01")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
    Property(key: "states", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Symbol("@zoom_step_flatmap")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_ultra_near")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "edge_width", operator: Assign, value: Number("0")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.05")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0")),
            Property(key: "edge_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("0")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_near")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.05")),
            Property(key: "gradient_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "edge_width", operator: Assign, value: Number("0.01")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.04")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0.8")),
            Property(key: "edge_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("0")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_mid")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.05")),
            Property(key: "gradient_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "edge_width", operator: Assign, value: Number("0.015")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.03")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1.0")),
            Property(key: "edge_color_mult", operator: Assign, value: Symbol("@color_multi")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("0")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.8")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.5")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.02")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.03")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap_far")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.8")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.5")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.02")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.15")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
    Property(key: "heatmap", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Symbol("@zoom_step_flatmap")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.8")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.5")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.8")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
    Property(key: "interactive", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Number("0")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_mid")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.9")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.9")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0.9")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("1")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.005")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
    Property(key: "mapmode", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Number("0")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("1")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("1")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
    Property(key: "mapmode_extra", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Number("0")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_2")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.0")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0.0")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_near")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.65")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.65")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0.75")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.65")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_mid")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("0.65")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.65")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0")),
            Property(key: "edge_alpha", operator: Assign, value: Number("0.75")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.65")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("1")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("1")),
            Property(key: "gradient_width", operator: Assign, value: Number("0")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1")),
            Property(key: "edge_width", operator: Assign, value: Number("0.0")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.5")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.7")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("1")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
    Property(key: "powerbloc", operator: Assign, value: Block([
        Property(key: "gradient_water_borders_zoom", operator: Assign, value: Symbol("@zoom_step_flatmap")),
        Property(key: "gradient_parameters", operator: Assign, value: Block([
            Property(key: "zoom_step", operator: Assign, value: Symbol("@zoom_step_flatmap")),
            Property(key: "gradient_alpha_inside", operator: Assign, value: Number("1.0")),
            Property(key: "gradient_alpha_outside", operator: Assign, value: Number("0.75")),
            Property(key: "gradient_width", operator: Assign, value: Number("0.8")),
            Property(key: "gradient_color_mult", operator: Assign, value: Number("1.0")),
            Property(key: "edge_width", operator: Assign, value: Number("0.03")),
            Property(key: "edge_sharpness", operator: Assign, value: Number("0.01")),
            Property(key: "edge_alpha", operator: Assign, value: Number("1")),
            Property(key: "edge_color_mult", operator: Assign, value: Number("0.5")),
            Property(key: "before_lighting_blend", operator: Assign, value: Number("0")),
            Property(key: "after_lighting_blend", operator: Assign, value: Number("1")),
        ])),
    ])),
])
