(schema_version: 1, entries: [
    Property(key: "provinces", operator: Assign, value: Text("provinces.png")),
    Property(key: "topology", operator: Assign, value: Text("heightmap.ron")),
    Property(key: "rivers", operator: Assign, value: Text("rivers.png")),
    Property(key: "adjacencies", operator: Assign, value: Text("adjacencies.csv")),
    Property(key: "wrap_x", operator: Assign, value: Boolean(true)),
    Property(key: "sea_starts", operator: Assign, value: Block([
        Item(Symbol("x40D9DB")),
        Item(Symbol("x3BDCFA")),
        Item(Symbol("x46C8FA")),
        Item(Symbol("x47DCFA")),
        Item(Symbol("x48FAFA")),
        Item(Symbol("x08FAFA")),
        Item(Symbol("x0AC8FA")),
        Item(Symbol("x0FDCFA")),
        Item(Symbol("x0EC8FA")),
        Item(Symbol("x0D61A4")),
        Item(Symbol("x14FAFA")),
        Item(Symbol("x709ACF")),
        Item(Symbol("x16FAFA")),
        Item(Symbol("x2DAEF1")),
        Item(Symbol("x6DFBFB")),
        Item(Symbol("x1B77CD")),
        Item(Symbol("x15C8C8")),
        Item(Symbol("xDA6DF6")),
        Item(Symbol("x837BBA")),
        Item(Symbol("x807D98")),
        Item(Symbol("x807D99")),
        Item(Symbol("x3DCACA")),
        Item(Symbol("x43DEFC")),
        Item(Symbol("xCF4DEF")),
        Item(Symbol("x9F5EB0")),
        Item(Symbol("xD55EAD")),
        Item(Symbol("x9137A4")),
        Item(Symbol("x9F5EAE")),
        Item(Symbol("x6DC9F4")),
        Item(Symbol("x405E94")),
        Item(Symbol("x9F2781")),
        Item(Symbol("x8ADE90")),
        Item(Symbol("xB56DB4")),
        Item(Symbol("x316868")),
        Item(Symbol("x6FDEFC")),
        Item(Symbol("x65CDFC")),
        Item(Symbol("x6640E1")),
        Item(Symbol("x49C9C9")),
        Item(Symbol("x3B70B1")),
        Item(Symbol("x2D4F87")),
        Item(Symbol("x81A0D2")),
        Item(Symbol("x48FDFD")),
        Item(Symbol("x92AED0")),
        Item(Symbol("x2863CB")),
        Item(Symbol("x80C2E0")),
        Item(Symbol("x69C9C9")),
        Item(Symbol("x74FBFB")),
        Item(Symbol("x0DCACA")),
        Item(Symbol("xA3CEF4")),
        Item(Symbol("x0ECACA")),
        Item(Symbol("x0D74CA")),
        Item(Symbol("x1FC9E5")),
        Item(Symbol("xA3CDF4")),
        Item(Symbol("x18FCFC")),
        Item(Symbol("x1ACAFC")),
        Item(Symbol("x4499CD")),
        Item(Symbol("x1FDEFC")),
        Item(Symbol("x858CBF")),
        Item(Symbol("x26CAFC")),
        Item(Symbol("x29CACA")),
        Item(Symbol("x0D61DC")),
        Item(Symbol("x2BDEFC")),
        Item(Symbol("x31CACA")),
        Item(Symbol("x16FCFA")),
        Item(Symbol("x36CAFC")),
        Item(Symbol("x2A95FA")),
        Item(Symbol("x5FDDFB")),
        Item(Symbol("x4989FF")),
        Item(Symbol("x386DCD")),
        Item(Symbol("x51B8B8")),
        Item(Symbol("x56C9FB")),
        Item(Symbol("x78FCFC")),
        Item(Symbol("x4FDDFB")),
        Item(Symbol("x2B5CB8")),
        Item(Symbol("x4FDCFA")),
        Item(Symbol("x56C8FA")),
        Item(Symbol("x54FAFA")),
        Item(Symbol("x6FDEFC")),
        Item(Symbol("x5CFAFA")),
        Item(Symbol("x61C8C8")),
        Item(Symbol("x63DCFA")),
        Item(Symbol("x28FBFB")),
        Item(Symbol("x39C9C9")),
        Item(Symbol("x16C9FB")),
        Item(Symbol("x0FDDFB")),
        Item(Symbol("x7BDCFA")),
        Item(Symbol("x00FBFB")),
        Item(Symbol("x03DDFB")),
        Item(Symbol("x755BD2")),
        Item(Symbol("xA87DDC")),
        Item(Symbol("x6644E1")),
        Item(Symbol("x2861CB")),
        Item(Symbol("x405B92")),
        Item(Symbol("xA63FD5")),
        Item(Symbol("x32C9FB")),
        Item(Symbol("x340EED")),
        Item(Symbol("x807D97")),
        Item(Symbol("x39CACA")),
        Item(Symbol("x43DDFB")),
        Item(Symbol("x341ABA")),
        Item(Symbol("x3d6a6a")),
        Item(Symbol("xb6cece")),
        Item(Symbol("xC64499")),
        Item(Symbol("x619BED")),
        Item(Symbol("x20CCE0")),
        Item(Symbol("x70FBFB")),
        Item(Symbol("x6FDDFB")),
    ])),
    Property(key: "lakes", operator: Assign, value: Block([
        Item(Symbol("xBD5671")),
        Item(Symbol("x01C8C8")),
        Item(Symbol("x02C8FA")),
        Item(Symbol("x0BDCFA")),
        Item(Symbol("x0CFAFA")),
        Item(Symbol("x0DC8C8")),
        Item(Symbol("x4CFAFA")),
        Item(Symbol("x4DC8C8")),
        Item(Symbol("x4EC8FA")),
        Item(Symbol("x0FDFFD")),
        Item(Symbol("x10FDFD")),
        Item(Symbol("x11CBCB")),
        Item(Symbol("x12CBFD")),
        Item(Symbol("x14FDFD")),
        Item(Symbol("x15CBCB")),
        Item(Symbol("x16CBFD")),
        Item(Symbol("x17DFFD")),
        Item(Symbol("x18FDFD")),
        Item(Symbol("x1ACBFD")),
        Item(Symbol("x1BDFFD")),
        Item(Symbol("x1CFDFD")),
        Item(Symbol("x1DCBCB")),
        Item(Symbol("x1ECBFD")),
        Item(Symbol("x1FDFFD")),
        Item(Symbol("x20FDFD")),
        Item(Symbol("x1AFEFE")),
        Item(Symbol("x1BD6FE")),
        Item(Symbol("x10CCE0")),
        Item(Symbol("x11FEE0")),
        Item(Symbol("x12FECC")),
        Item(Symbol("x14E0CC")),
        Item(Symbol("x15FECC")),
        Item(Symbol("x16CCE0")),
        Item(Symbol("x17E0E0")),
        Item(Symbol("x18CCFE")),
        Item(Symbol("x19E0CC")),
        Item(Symbol("x1ECCFE")),
        Item(Symbol("x1FFECC")),
        Item(Symbol("x20E0CC")),
        Item(Symbol("x0001FF")),
        Item(Symbol("x01DEC8")),
        Item(Symbol("x1114E9")),
        Item(Symbol("x492BDE")),
        Item(Symbol("x01E1CB")),
        Item(Symbol("x01E0CA")),
        Item(Symbol("x01E1C9")),
        Item(Symbol("x01DFC8")),
        Item(Symbol("x01E0C8")),
        Item(Symbol("x47B037")),
        Item(Symbol("x3ff40b")),
        Item(Symbol("x01e0c9")),
        Item(Symbol("x76C8FA")),
    ])),
])
