(schema_version: 1, entries: [
    Property(key: "ShowAlphaMask", operator: Assign, value: Boolean(false)),
    Property(key: "Shadow_Color", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.560000")),
        Item(Number("0.850000")),
        Item(Number("0.160000")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.647436")),
        Item(Number("0.101961")),
        Item(Number("1.000000")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color_Day_Gradient", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.562500")),
        Item(Number("0.187500")),
        Item(Number("0.804688")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color_Day_Gradient_Min", operator: Assign, value: Number("0.000000")),
    Property(key: "Cloud_Color_Day_Gradient_Max", operator: Assign, value: Number("1.000000")),
    Property(key: "Cloud_Color_Sunset", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.009766")),
        Item(Number("0.250000")),
        Item(Number("1.000000")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color_Sunset_Gradient", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.009766")),
        Item(Number("0.250000")),
        Item(Number("1.000000")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color_Sunset_Gradient_Min", operator: Assign, value: Number("0.000000")),
    Property(key: "Cloud_Color_Sunset_Gradient_Max", operator: Assign, value: Number("1.000000")),
    Property(key: "Cloud_Color_Night", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.617188")),
        Item(Number("0.265625")),
        Item(Number("1.000000")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color_Night_Gradient", operator: Assign, value: Tagged(tag: "hsv", value: Block([
        Item(Number("0.617188")),
        Item(Number("0.265625")),
        Item(Number("1.000000")),
        Item(Number("1.000000")),
    ]))),
    Property(key: "Cloud_Color_Night_Gradient_Min", operator: Assign, value: Number("0.000000")),
    Property(key: "Cloud_Color_Night_Gradient_Max", operator: Assign, value: Number("1.000000")),
    Property(key: "Cloud_Height", operator: Assign, value: Number("22.000000")),
    Property(key: "Cloud_Normal_Strength", operator: Assign, value: Number("1.000000")),
    Property(key: "Cloud_Light_Ambient", operator: Assign, value: Number("0.200000")),
    Property(key: "Cloud_Light_Intensity", operator: Assign, value: Number("1.000000")),
    Property(key: "Cloud_Light_Min", operator: Assign, value: Number("0.000000")),
    Property(key: "Cloud_Light_Max", operator: Assign, value: Number("0.500000")),
    Property(key: "Cloud_Sunset_Color_Value_Min", operator: Assign, value: Number("0.400000")),
    Property(key: "Cloud_Sunset_Color_Value_Max", operator: Assign, value: Number("0.500000")),
    Property(key: "Shadow_Multiplier", operator: Assign, value: Number("0.600000")),
    Property(key: "Shadow_Tex_Start", operator: Assign, value: Number("0.000000")),
    Property(key: "Shadow_Tex_Stop", operator: Assign, value: Number("1.000000")),
    Property(key: "Shadow_Alpha_Start", operator: Assign, value: Number("0.000000")),
    Property(key: "Shadow_Alpha_Stop", operator: Assign, value: Number("1.000000")),
    Property(key: "Shadow_Layer_1_Min", operator: Assign, value: Number("0.450000")),
    Property(key: "Shadow_Layer_1_Max", operator: Assign, value: Number("1.350000")),
    Property(key: "Shadow_Layer_2_Min", operator: Assign, value: Number("1.000000")),
    Property(key: "Shadow_Layer_2_Max", operator: Assign, value: Number("3.000000")),
    Property(key: "Shadow_Layer_3_Min", operator: Assign, value: Number("1.000000")),
    Property(key: "Shadow_Layer_3_Max", operator: Assign, value: Number("3.000000")),
    Property(key: "Cloud_Alpha_Start", operator: Assign, value: Number("0.000000")),
    Property(key: "Cloud_Alpha_Stop", operator: Assign, value: Number("1.000000")),
    Property(key: "Master_Start", operator: Assign, value: Number("0.000000")),
    Property(key: "Master_Stop", operator: Assign, value: Number("1.280000")),
    Property(key: "Master_UV_Tiling", operator: Assign, value: Number("1")),
    Property(key: "Master_UV_Scale", operator: Assign, value: Block([
        Item(Number("1.000000")),
        Item(Number("-0.500000")),
    ])),
    Property(key: "Master_UV_Speed", operator: Assign, value: Block([
        Item(Number("0.300000")),
        Item(Number("-0.600000")),
    ])),
    Property(key: "Layer_1_Min", operator: Assign, value: Number("0.000000")),
    Property(key: "Layer_1_Max", operator: Assign, value: Number("1.000000")),
    Property(key: "Layer_1_Tiling", operator: Assign, value: Number("9")),
    Property(key: "Layer_1_Speed", operator: Assign, value: Block([
        Item(Number("-0.600000")),
        Item(Number("0.500000")),
    ])),
    Property(key: "Layer_2_Min", operator: Assign, value: Number("0.039000")),
    Property(key: "Layer_2_Max", operator: Assign, value: Number("0.580000")),
    Property(key: "Layer_2_Balance", operator: Assign, value: Number("0.481529")),
    Property(key: "Layer_2_Tiling", operator: Assign, value: Number("12")),
    Property(key: "Layer_2_Speed", operator: Assign, value: Block([
        Item(Number("-1.600000")),
        Item(Number("1.200000")),
    ])),
    Property(key: "Layer_3_Min", operator: Assign, value: Number("0.468420")),
    Property(key: "Layer_3_Max", operator: Assign, value: Number("1.000000")),
    Property(key: "Layer_3_Balance", operator: Assign, value: Number("0.300723")),
    Property(key: "Layer_3_Tiling", operator: Assign, value: Number("20")),
    Property(key: "Layer_3_Speed", operator: Assign, value: Block([
        Item(Number("-1.500000")),
        Item(Number("1.000000")),
    ])),
])
