// Source line 1:  Front graphics type is a set of entities that is used to fill the border segment along the border
// Source line 2:  Entities are fitted along the border starting with biggest to smallest until the end of segment
// Source line 3:  
// Source line 4: 	example_frontline_type = { 			# The key for frontline type
// Source line 5: 		type = <battle/after_battle> 	# "Type" will determine when the entity should show (battle is ongoin or battle is finished)
// Source line 6: 		possible = {}		 			# Trigger to determine if that type should be used for scoped country 'attacker' and it's "target" country
// Source line 7: 		weight = {}						# Scripted value to determine which type to pick for specified type for scoped country 'attacker' and it's "target" country
// Source line 8: 		participant_entities = {		# Participant_entities is used for each country specific entities, positioned in the center in the direction of enemy, will apply in priority order from top to bottom
// Source line 9: 			entity_1 = {				# Wrapper for entity name, possible trigger can have any name
// Source line 10: 				name = "first_entity"	# Entity model name
// Source line 11: 				trigger = {}			# Trigger for country and 'target' - opposite country, 'front' current front, 'battle' battle
// Source line 12: 			}
// Source line 13: 			entity_2 = {			
// Source line 14: 				name = "first_entity"
// Source line 15: 				trigger = {}
// Source line 16: 			}
// Source line 17: 		}
// Source line 18: 		
// Source line 19: 		environment_entity = {			# Enviroment_entity is entity postioned along the border, states be scripted as well
// Source line 20: 			name = "entity_2"
// Source line 21: 		}
// Source line 22: 	}
// Source line 23: 
(schema_version: 1, entries: [])
