// Source line 2:  Set texture in 00_graphics.txt
(schema_version: 1, entries: [
    Property(key: "Texture_Index_Offset", operator: Assign, value: Number("0")),
    Property(key: "Noise_Tiling", operator: Assign, value: Number("80")),
    Property(key: "Texture_Tiling", operator: Assign, value: Number("1")),
    Property(key: "Texture_Hue", operator: Assign, value: Number("0")),
    Property(key: "Texture_Saturation", operator: Assign, value: Number("1")),
    Property(key: "Texture_Value", operator: Assign, value: Number("1")),
    Property(key: "Texture_Alpha", operator: Assign, value: Number("0.75")),
    Property(key: "Tree_Hue", operator: Assign, value: Number("0.0")),
    Property(key: "Tree_Saturation", operator: Assign, value: Number("0.42")),
    Property(key: "Tree_Value", operator: Assign, value: Number("0.45")),
    Property(key: "Area_Position", operator: Assign, value: Number("0.65")),
    Property(key: "Area_Constrast", operator: Assign, value: Number("0.22")),
    Property(key: "Area_Max", operator: Assign, value: Number("0.25")),
    Property(key: "BezierPoint_1", operator: Assign, value: Block([
        Item(Number("0.0")),
        Item(Number("0.843")),
    ])),
    Property(key: "BezierPoint_2", operator: Assign, value: Block([
        Item(Number("0.396")),
        Item(Number("0.689")),
    ])),
    Property(key: "Height_Weight", operator: Assign, value: Number("0.15")),
    Property(key: "Height_Contrast", operator: Assign, value: Number("2.0")),
    Property(key: "ExclusionMask_Min", operator: Assign, value: Number("0.6")),
    Property(key: "ExclusionMask_Max", operator: Assign, value: Number("0.9")),
    Property(key: "Tree_Alpha_Reduce", operator: Assign, value: Number("0.0")),
    Property(key: "Iridescense_Opacity", operator: Assign, value: Number("1")),
    Property(key: "Iridescense_Noise_Tiling", operator: Assign, value: Number("300.0")),
    Property(key: "Iridescense_Position", operator: Assign, value: Number("1.0")),
    Property(key: "Iridescense_Contrast", operator: Assign, value: Number("2.0")),
    Property(key: "Iridescense_Roughness", operator: Assign, value: Number("0.0")),
    Property(key: "Iridescense_Red", operator: Assign, value: Number("700.0")),
    Property(key: "Iridescense_Green", operator: Assign, value: Number("550.0")),
    Property(key: "Iridescense_Blue", operator: Assign, value: Number("400.0")),
    Property(key: "Iridescense_Rimlight_Strength", operator: Assign, value: Number("0.01")),
    Property(key: "Iridescense_Rimlight_Direction.x", operator: Assign, value: Number("0.1")),
    Property(key: "Iridescense_Rimlight_Direction.y", operator: Assign, value: Number("0.4")),
    Property(key: "Iridescense_Rimlight_Direction.z", operator: Assign, value: Number("0.28")),
    Property(key: "Iridescense_Thinfilm_Thickness_Min", operator: Assign, value: Number("0.0")),
    Property(key: "Iridescense_Thinfilm_Thickness_Max", operator: Assign, value: Number("1000.0")),
    Property(key: "Iridescense_Thinfilm_Medium_n", operator: Assign, value: Number("1.0")),
    Property(key: "Iridescense_Thinfilm_Film_n", operator: Assign, value: Number("1.33")),
    Property(key: "Iridescense_Thinfilm_Material_n", operator: Assign, value: Number("1.0")),
    Property(key: "Force_Add_Global_Pollution", operator: Assign, value: Number("0.0")),
])
