// Source line 1:  masked textures
// Source line 2:     diffuse    - relative path
// Source line 3:     normal     - relative path
// Source line 4:     material   - relative path
// Source line 5:     mask       - relative path
// Source line 6:   ( name       - string ) defaults to the name in maskXX_NAME or, if the mask is named differently, the entire name of the mask image
// Source line 7:   ( sort_order - number, where it will end up in the map editor ) defaults to 0
// Source line 8: 	 id 		- string, uniquely identifies a material
// Source line 322: 	{
// Source line 323: 		name = "DYNAMIC-Farmlands_04"
// Source line 324: 		diffuse="farmlands_04_diffuse.dds"
// Source line 325: 		normal="farmlands_04_normal.dds"
// Source line 326: 		material="farmlands_04_properties.dds"
// Source line 327: 		mask="mask_farmlands_04"
// Source line 328: 		id = "farmlands_04"
// Source line 329: 	}
// Source line 389:  unmasked textures
// Source line 390:     diffuse  - relative path
// Source line 391:     normal   - relative path
// Source line 392:     material - relative path
(schema_version: 1, entries: [
    Item(Block([
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Desert_01")),
            Property(key: "diffuse", operator: Assign, value: Text("desert_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("desert_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("desert_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_desert_01")),
            Property(key: "id", operator: Assign, value: Text("desert_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Desert_03")),
            Property(key: "diffuse", operator: Assign, value: Text("desert_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("desert_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("desert_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_desert_03")),
            Property(key: "id", operator: Assign, value: Text("desert_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Desert_04")),
            Property(key: "diffuse", operator: Assign, value: Text("desert_04_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("desert_04_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("desert_04_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_desert_04")),
            Property(key: "id", operator: Assign, value: Text("desert_04")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Desert_05")),
            Property(key: "diffuse", operator: Assign, value: Text("desert_05_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("desert_05_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("desert_05_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_desert_05")),
            Property(key: "id", operator: Assign, value: Text("desert_05")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Desert_06")),
            Property(key: "diffuse", operator: Assign, value: Text("desert_06_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("desert_06_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("desert_06_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_desert_06")),
            Property(key: "id", operator: Assign, value: Text("desert_06")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Beach_01")),
            Property(key: "diffuse", operator: Assign, value: Text("beach_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("beach_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("beach_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_beach_01")),
            Property(key: "id", operator: Assign, value: Text("beach_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Beach_02")),
            Property(key: "diffuse", operator: Assign, value: Text("beach_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("beach_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("beach_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_beach_02")),
            Property(key: "id", operator: Assign, value: Text("beach_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Beach_03")),
            Property(key: "diffuse", operator: Assign, value: Text("beach_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("beach_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("beach_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_beach_03")),
            Property(key: "id", operator: Assign, value: Text("beach_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Marchlands_01")),
            Property(key: "diffuse", operator: Assign, value: Text("marchlands_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("marchlands_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("marchlands_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_marchlands_01")),
            Property(key: "id", operator: Assign, value: Text("marchlands_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Marchlands_02")),
            Property(key: "diffuse", operator: Assign, value: Text("marchlands_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("marchlands_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("marchlands_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_marchlands_02")),
            Property(key: "id", operator: Assign, value: Text("marchlands_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Marchlands_03")),
            Property(key: "diffuse", operator: Assign, value: Text("marchlands_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("marchlands_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("marchlands_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_marchlands_03")),
            Property(key: "id", operator: Assign, value: Text("marchlands_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Marchlands_04")),
            Property(key: "diffuse", operator: Assign, value: Text("marchlands_04_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("marchlands_04_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("marchlands_04_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_marchlands_04")),
            Property(key: "id", operator: Assign, value: Text("marchlands_04")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Granite_01")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_granite_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_granite_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_granite_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_granite_01")),
            Property(key: "id", operator: Assign, value: Text("cliff_granite_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Granite_02")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_granite_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_granite_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_granite_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_granite_02")),
            Property(key: "id", operator: Assign, value: Text("cliff_granite_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Granite_06")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_granite_06_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_granite_06_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_granite_06_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_granite_06")),
            Property(key: "id", operator: Assign, value: Text("cliff_granite_06")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Granite_07")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_granite_07_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_granite_07_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_granite_07_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_granite_07")),
            Property(key: "id", operator: Assign, value: Text("cliff_granite_07")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Limestone_02")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_limestone_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_limestone_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_limestone_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_limestone_02")),
            Property(key: "id", operator: Assign, value: Text("cliff_limestone_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Limestone_03")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_limestone_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_limestone_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_limestone_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_limestone_03")),
            Property(key: "id", operator: Assign, value: Text("cliff_limestone_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Sandstone_03")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_sandstone_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_sandstone_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_sandstone_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_sandstone_03")),
            Property(key: "id", operator: Assign, value: Text("cliff_sandstone_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Sandstone_04")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_sandstone_04_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_sandstone_04_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_sandstone_04_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_sandstone_04")),
            Property(key: "id", operator: Assign, value: Text("cliff_sandstone_04")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Cliff_Sandstone_05")),
            Property(key: "diffuse", operator: Assign, value: Text("cliff_sandstone_05_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("cliff_sandstone_05_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("cliff_sandstone_05_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_cliff_sandstone_05")),
            Property(key: "id", operator: Assign, value: Text("cliff_sandstone_05")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Snow_02")),
            Property(key: "diffuse", operator: Assign, value: Text("snow_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("snow_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("snow_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_snow_02")),
            Property(key: "id", operator: Assign, value: Text("snow_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Grasslands_01")),
            Property(key: "diffuse", operator: Assign, value: Text("grasslands_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("grasslands_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("grasslands_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_grasslands_01")),
            Property(key: "id", operator: Assign, value: Text("grasslands_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Grasslands_02")),
            Property(key: "diffuse", operator: Assign, value: Text("grasslands_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("grasslands_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("grasslands_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_grasslands_02")),
            Property(key: "id", operator: Assign, value: Text("grasslands_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Grasslands_05")),
            Property(key: "diffuse", operator: Assign, value: Text("grasslands_05_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("grasslands_05_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("grasslands_05_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_grasslands_05")),
            Property(key: "id", operator: Assign, value: Text("grasslands_05")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Grasslands_06")),
            Property(key: "diffuse", operator: Assign, value: Text("grasslands_06_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("grasslands_06_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("grasslands_06_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_grasslands_06")),
            Property(key: "id", operator: Assign, value: Text("grasslands_06")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Grasslands_07")),
            Property(key: "diffuse", operator: Assign, value: Text("grasslands_07_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("grasslands_07_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("grasslands_07_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_grasslands_07")),
            Property(key: "id", operator: Assign, value: Text("grasslands_07")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Grasslands_08")),
            Property(key: "diffuse", operator: Assign, value: Text("grasslands_08_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("grasslands_08_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("grasslands_08_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_grasslands_08")),
            Property(key: "id", operator: Assign, value: Text("grasslands_08")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Permafrost_01")),
            Property(key: "diffuse", operator: Assign, value: Text("permafrost_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("permafrost_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("permafrost_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_permafrost_01")),
            Property(key: "id", operator: Assign, value: Text("permafrost_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Permafrost_03")),
            Property(key: "diffuse", operator: Assign, value: Text("permafrost_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("permafrost_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("permafrost_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_permafrost_03")),
            Property(key: "id", operator: Assign, value: Text("permafrost_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Woodlands_01")),
            Property(key: "diffuse", operator: Assign, value: Text("woodlands_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("woodlands_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("woodlands_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_woodlands_01")),
            Property(key: "id", operator: Assign, value: Text("woodlands_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Woodlands_02")),
            Property(key: "diffuse", operator: Assign, value: Text("woodlands_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("woodlands_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("woodlands_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_woodlands_02")),
            Property(key: "id", operator: Assign, value: Text("woodlands_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Woodlands_03")),
            Property(key: "diffuse", operator: Assign, value: Text("woodlands_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("woodlands_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("woodlands_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_woodlands_03")),
            Property(key: "id", operator: Assign, value: Text("woodlands_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Rocks_01")),
            Property(key: "diffuse", operator: Assign, value: Text("rocks_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("rocks_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("rocks_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_rocks_01")),
            Property(key: "id", operator: Assign, value: Text("rocks_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Savanna_01")),
            Property(key: "diffuse", operator: Assign, value: Text("permafrost_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("permafrost_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("permafrost_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_savanna_01")),
            Property(key: "id", operator: Assign, value: Text("savanna_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("Savanna_03")),
            Property(key: "diffuse", operator: Assign, value: Text("permafrost_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("permafrost_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("permafrost_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_savanna_03")),
            Property(key: "id", operator: Assign, value: Text("savanna_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Farmlands_01")),
            Property(key: "diffuse", operator: Assign, value: Text("farmlands_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("farmlands_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("farmlands_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_farmlands_01")),
            Property(key: "id", operator: Assign, value: Text("farmlands_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Farmlands_02")),
            Property(key: "diffuse", operator: Assign, value: Text("farmlands_02_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("farmlands_02_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("farmlands_02_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_farmlands_02")),
            Property(key: "id", operator: Assign, value: Text("farmlands_02")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Farmlands_03")),
            Property(key: "diffuse", operator: Assign, value: Text("farmlands_03_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("farmlands_03_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("farmlands_03_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_farmlands_03")),
            Property(key: "id", operator: Assign, value: Text("farmlands_03")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Farmlands_05")),
            Property(key: "diffuse", operator: Assign, value: Text("farmlands_05_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("farmlands_05_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("farmlands_05_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_farmlands_05")),
            Property(key: "id", operator: Assign, value: Text("farmlands_05")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Farmlands_06")),
            Property(key: "diffuse", operator: Assign, value: Text("farmlands_06_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("farmlands_06_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("farmlands_06_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_farmlands_06")),
            Property(key: "id", operator: Assign, value: Text("farmlands_06")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Forestry_01")),
            Property(key: "diffuse", operator: Assign, value: Text("forestry_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("forestry_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("forestry_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_forestry_01")),
            Property(key: "id", operator: Assign, value: Text("forestry_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Mining_01")),
            Property(key: "diffuse", operator: Assign, value: Text("mining_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("mining_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("mining_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_mining_01")),
            Property(key: "id", operator: Assign, value: Text("mining_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Devastation_Mud_01")),
            Property(key: "diffuse", operator: Assign, value: Text("devastation_mud_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("devastation_mud_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("devastation_mud_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_devastation_mud_01")),
            Property(key: "id", operator: Assign, value: Text("devastation_mud_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Pollution_01")),
            Property(key: "diffuse", operator: Assign, value: Text("pollution_01_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("pollution_01_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("pollution_01_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_pollution_01")),
            Property(key: "id", operator: Assign, value: Text("pollution_01")),
        ])),
        Item(Block([
            Property(key: "name", operator: Assign, value: Text("DYNAMIC-Devastation_Earthquake_01")),
            Property(key: "diffuse", operator: Assign, value: Text("earthquake_diffuse.dds")),
            Property(key: "normal", operator: Assign, value: Text("earthquake_normal.dds")),
            Property(key: "material", operator: Assign, value: Text("earthquake_properties.dds")),
            Property(key: "mask", operator: Assign, value: Text("mask_earthquake_01")),
            Property(key: "id", operator: Assign, value: Text("earthquake_01")),
        ])),
    ])),
    Item(Block([])),
])
