(schema_version: 1, entries: [
    Property(key: "TextureUvScale", operator: Assign, value: Number("0.015625")),
    Property(key: "FlowNormalUvScale", operator: Assign, value: Number("1.200000")),
    Property(key: "FlowNormalSpeed", operator: Assign, value: Number("0.185000")),
    Property(key: "FoamFactorNear", operator: Assign, value: Number("0.500000")),
    Property(key: "FoamFactorFar", operator: Assign, value: Number("1.000000")),
    Property(key: "FoamFactorFarZoomstep", operator: Assign, value: Number("10")),
    Property(key: "NoiseScale", operator: Assign, value: Number("0.250000")),
    Property(key: "NoiseSpeed", operator: Assign, value: Number("2.000000")),
    Property(key: "FlattenMult", operator: Assign, value: Number("1.000000")),
    Property(key: "OceanFadeRate", operator: Assign, value: Number("3.000000")),
    Property(key: "BankAmount", operator: Assign, value: Number("0.100000")),
    Property(key: "BankFade", operator: Assign, value: Number("0.000")),
    Property(key: "Depth", operator: Assign, value: Number("0.150000")),
    Property(key: "DepthWidthPower", operator: Assign, value: Number("1.000000")),
    Property(key: "DepthFakeFactor", operator: Assign, value: Number("0.400000")),
    Property(key: "ParallaxIterations", operator: Assign, value: Number("20")),
    Property(key: "Bottom.DiffuseTexture", operator: Assign, value: Text("gfx/map/rivers/river_bottom_diffuse.dds")),
    Property(key: "Bottom.NormalTexture", operator: Assign, value: Text("gfx/map/rivers/river_bottom_normal.dds")),
    Property(key: "Bottom.MaterialTexture", operator: Assign, value: Text("gfx/map/rivers/river_bottom_properties.dds")),
])
