// Source line 17: in grid-space units. 1.0 means the mesh can be placed anywhere inside its allotted cell
// Source line 18: in degrees
// Source line 39: offsets for regular buildings
(schema_version: 1, entries: [
    Property(key: "african_wood", operator: Assign, value: Block([
        Property(key: "graphical_culture", operator: Assign, value: Text("african")),
        Property(key: "city_type", operator: Assign, value: Symbol("wood")),
        Property(key: "min_residential_buildings", operator: Assign, value: Number("2")),
        Property(key: "max_residential_buildings", operator: Assign, value: Number("50")),
        Property(key: "max_residence_points", operator: Assign, value: Number("100")),
        Property(key: "rich_building_meshes", operator: Assign, value: Block([
            Item(Text("african_rural_residential_rich_03_mesh")),
            Item(Text("african_rural_residential_rich_02_mesh")),
            Item(Text("african_rural_residential_rich_01_mesh")),
        ])),
        Property(key: "rich_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.0")),
            Property(key: "rotation", operator: Assign, value: Number("0.0")),
        ])),
        Property(key: "mid_building_meshes", operator: Assign, value: Block([
            Item(Text("african_rural_residential_mid_03_mesh")),
            Item(Text("african_rural_residential_mid_02_mesh")),
            Item(Text("african_rural_residential_mid_01_mesh")),
        ])),
        Property(key: "mid_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.1")),
            Property(key: "rotation", operator: Assign, value: Number("180.0")),
        ])),
        Property(key: "poor_building_meshes", operator: Assign, value: Block([
            Item(Text("generic_forestry_lumberpile_02_mesh")),
            Item(Text("african_rural_residential_poor_03_mesh")),
            Item(Text("african_rural_residential_poor_02_mesh")),
            Item(Text("african_rural_residential_poor_01_mesh")),
        ])),
        Property(key: "poor_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "building_logging_camp", operator: Assign, value: Block([
            Item(Text("african_forestry_loggingcamp_01_mesh")),
            Item(Text("african_forestry_loggingcamp_02_mesh")),
        ])),
        Property(key: "building_rubber_plantation", operator: Assign, value: Block([
            Item(Text("rubber_lodge_01_mesh")),
        ])),
    ])),
])
