// Source line 8: default mine is always down prioritized
// Source line 19: in grid-space units. 1.0 means the mesh can be placed anywhere inside its allotted cell
// Source line 20: in degrees
// Source line 40: offsets for regular buildings
(schema_version: 1, entries: [
    Property(key: "american_oilrig_mine", operator: Assign, value: Block([
        Property(key: "city_type", operator: Assign, value: Symbol("mine")),
        Property(key: "trigger", operator: Assign, value: Block([
            Property(key: "us_american_buildings_trigger", operator: Assign, value: Boolean(true)),
        ])),
        Property(key: "weight", operator: Assign, value: Number("1")),
        Property(key: "min_residential_buildings", operator: Assign, value: Number("4")),
        Property(key: "max_residential_buildings", operator: Assign, value: Number("25")),
        Property(key: "max_residence_points", operator: Assign, value: Number("100")),
        Property(key: "rich_building_meshes", operator: Assign, value: Block([
            Item(Text("european_rural_building_poor_02_mesh")),
            Item(Text("european_rural_building_poor_01_mesh")),
        ])),
        Property(key: "rich_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "mid_building_meshes", operator: Assign, value: Block([
            Item(Text("european_rural_building_poor_02_mesh")),
            Item(Text("european_rural_building_poor_03_mesh")),
            Item(Text("european_rural_building_poor_01_mesh")),
        ])),
        Property(key: "mid_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.1")),
            Property(key: "rotation", operator: Assign, value: Number("180.0")),
        ])),
        Property(key: "poor_building_meshes", operator: Assign, value: Block([
            Item(Text("european_rural_building_poor_02_mesh")),
            Item(Text("european_rural_building_poor_03_mesh")),
            Item(Text("european_rural_building_poor_01_mesh")),
        ])),
        Property(key: "poor_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "building_coal_mine", operator: Assign, value: Block([
            Item(Text("generic_rural_mining_coaldepo_02_mesh")),
        ])),
        Property(key: "building_iron_mine", operator: Assign, value: Block([
            Item(Text("generic_rural_mining_coaldepo_01_mesh")),
        ])),
        Property(key: "building_lead_mine", operator: Assign, value: Block([
            Item(Text("generic_rural_mining_processing_01_mesh")),
        ])),
        Property(key: "building_oil_rig", operator: Assign, value: Block([
            Item(Text("american_mining_oilrig_01_mesh")),
        ])),
        Property(key: "building_gold_mine", operator: Assign, value: Block([
            Item(Text("generic_rural_mining_processing_01_mesh")),
        ])),
        Property(key: "building_gold_field", operator: Assign, value: Block([
            Item(Text("generic_rural_mining_processing_01_mesh")),
        ])),
        Property(key: "building_sulfur_mine", operator: Assign, value: Block([
            Item(Text("generic_rural_mining_processing_01_mesh")),
        ])),
    ])),
])
