// Source line 3: graphical_culture = ""
// Source line 15: in grid-space units. 1.0 means the mesh can be placed anywhere inside its allotted cell
// Source line 16: in degrees
// Source line 37: offsets for regular buildings
(schema_version: 1, entries: [
    Property(key: "default", operator: Assign, value: Block([
        Property(key: "min_residential_buildings", operator: Assign, value: Number("2")),
        Property(key: "max_residential_buildings", operator: Assign, value: Number("100")),
        Property(key: "max_residence_points", operator: Assign, value: Number("200")),
        Property(key: "rich_building_meshes", operator: Assign, value: Block([
            Item(Text("european_urban_residential_rich_01_mesh")),
            Item(Text("european_urban_residential_rich_03_mesh")),
            Item(Text("european_urban_residential_rich_02_mesh")),
        ])),
        Property(key: "rich_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.0")),
            Property(key: "rotation", operator: Assign, value: Number("0.0")),
        ])),
        Property(key: "mid_building_meshes", operator: Assign, value: Block([
            Item(Text("european_urban_residential_mid_01_mesh")),
            Item(Text("european_urban_residential_mid_03_mesh")),
            Item(Text("european_urban_residential_mid_02_mesh")),
        ])),
        Property(key: "mid_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.1")),
            Property(key: "rotation", operator: Assign, value: Number("10.0")),
        ])),
        Property(key: "poor_building_meshes", operator: Assign, value: Block([
            Item(Text("european_urban_residential_poor_02_mesh")),
            Item(Text("european_urban_residential_poor_03_mesh")),
            Item(Text("european_urban_residential_poor_01_mesh")),
        ])),
        Property(key: "poor_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.3")),
            Property(key: "rotation", operator: Assign, value: Number("22.5")),
        ])),
        Property(key: "building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.0")),
            Property(key: "rotation", operator: Assign, value: Number("0.0")),
        ])),
    ])),
])
