// Source line 2: graphical_culture = "latin"
// Source line 20: in grid-space units. 1.0 means the mesh can be placed anywhere inside its allotted cell
// Source line 21: in degrees
// Source line 41: offsets for regular buildings
(schema_version: 1, entries: [
    Property(key: "latin_farm", operator: Assign, value: Block([
        Property(key: "city_type", operator: Assign, value: Symbol("farm")),
        Property(key: "trigger", operator: Assign, value: Block([
            Property(key: "latin_american_buildings_trigger", operator: Assign, value: Boolean(true)),
        ])),
        Property(key: "weight", operator: Assign, value: Number("100")),
        Property(key: "min_residential_buildings", operator: Assign, value: Number("4")),
        Property(key: "max_residential_buildings", operator: Assign, value: Number("50")),
        Property(key: "max_residence_points", operator: Assign, value: Number("100")),
        Property(key: "rich_building_meshes", operator: Assign, value: Block([
            Item(Text("latin_rural_residential_rich_01_mesh")),
            Item(Text("latin_rural_residential_rich_02_mesh")),
            Item(Text("latin_rural_residential_rich_03_mesh")),
        ])),
        Property(key: "rich_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.0")),
            Property(key: "rotation", operator: Assign, value: Number("0.0")),
        ])),
        Property(key: "mid_building_meshes", operator: Assign, value: Block([
            Item(Text("latin_rural_residential_mid_01_mesh")),
            Item(Text("latin_rural_residential_mid_02_mesh")),
            Item(Text("latin_rural_residential_mid_03_mesh")),
        ])),
        Property(key: "mid_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.1")),
            Property(key: "rotation", operator: Assign, value: Number("180.0")),
        ])),
        Property(key: "poor_building_meshes", operator: Assign, value: Block([
            Item(Text("latin_rural_residential_poor_01_mesh")),
            Item(Text("latin_rural_residential_poor_02_mesh")),
            Item(Text("latin_rural_residential_poor_03_mesh")),
        ])),
        Property(key: "poor_building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "building_offsets", operator: Assign, value: Block([
            Property(key: "position", operator: Assign, value: Number("0.2")),
            Property(key: "rotation", operator: Assign, value: Number("360.0")),
        ])),
        Property(key: "building_rye_farm", operator: Assign, value: Block([
            Item(Text("latin_farm_farmstead_01_mesh")),
        ])),
        Property(key: "building_wheat_farm", operator: Assign, value: Block([
            Item(Text("latin_farm_farmstead_01_mesh")),
        ])),
        Property(key: "building_rice_farm", operator: Assign, value: Block([
            Item(Text("latin_farm_farmstead_01_mesh")),
        ])),
        Property(key: "building_maize_farm", operator: Assign, value: Block([
            Item(Text("latin_farm_farmstead_01_mesh")),
        ])),
        Property(key: "building_millet_farm", operator: Assign, value: Block([
            Item(Text("latin_farm_farmstead_01_mesh")),
        ])),
        Property(key: "building_livestock_ranch", operator: Assign, value: Block([
            Item(Text("latin_farm_ranch_01_mesh")),
        ])),
        Property(key: "building_coffee_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_silk_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_cotton_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_dye_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_opium_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_tea_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_tobacco_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_sugar_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_banana_plantation", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_vineyard", operator: Assign, value: Block([
            Item(Text("latin_farm_plantation_01_mesh")),
        ])),
        Property(key: "building_manor_house", operator: Assign, value: Block([
            Item(Text("latin_rural_manorhouse_01_mesh")),
        ])),
    ])),
])
