(schema_version: 1, entries: [
    Property(key: "revolution", operator: Assign, value: Block([
        Property(key: "visible", operator: Assign, value: Block([
            Property(key: "is_in_revolt", operator: Assign, value: Boolean(true)),
        ])),
        Property(key: "entity", operator: Assign, value: Text("revolution")),
    ])),
])
